@import '../../styles/themes.scss';

body {
    background-color: transparent;
}


.popup {
    background-color: var(--color-background-primary);
    border-radius: var(--border-radius-lg);
    color: var(--color-text-primary);
    padding: var(--spacing-4) var(--spacing-5);
    font-family: Arial, sans-serif;
    border: 1px solid var(--color-border);

    &__editor {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-4);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: var(--spacing-3);
        -webkit-app-region: drag;
    }

    &__date {
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-regular);
        color: var(--color-text-tertiary);
    }

    &__highlight {
        width: 23px;
        height: 23px;
        border-radius: 50%;
        background-color: var(--color-text-tertiary);
        cursor: pointer;
        border: none;
        outline: none;
    }

    &__content {
        // margin-bottom: var(--spacing-4);
    }

    &__textarea {
        width: 100%;
        background-color: transparent;
        border: none;
        color: var(--color-text-primary);
        font-size: var(--font-size-base);
        resize: none;
        outline: none;
        font-family: inherit;

        &::placeholder {
            color: var(--color-text-secondary);
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left-container {
        display: flex;
        align-items: center;
        gap: var(--spacing-4);
    }

    &__sort-inbox {
        display: flex;
        align-items: center;
        gap: var(--spacing-1);
        font-size: var(--font-size-sm);
        color: var(--color-text-secondary);
        font-weight: var(--font-weight-regular);
        background-color: var(--color-background-secondary);
        padding: 0.20rem 0.45rem;
        border-radius: var(--border-radius-sm);
        border: 1px solid transparent;
        cursor: pointer;

        //not working
        &:focus {
            outline: 2px solid #f9f9f9;
        }

        &:hover {
            border: 1px solid var(--color-border);
        }
    }

    &__inbox-icon {
        width: 16px;
        height: 16px;
    }

    &__tag-input {
        padding: 0;
        background-color: transparent;
        color: var(--color-text-secondary);
        border: none;
        font-size: var(--font-size-base);
    }

    &__buttons {
        display: flex;
        gap: var(--spacing-2);
    }

    &__actions {
        display: flex;
        gap: 12px;
        padding: 0;
        margin: 0;
    }

    &__action-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        cursor: pointer;
        color: var(--color-text-secondary);
        padding: 0;
        margin: 0;
        margin-right: var(--spacing-3);

        &:hover {
            color: var(--color-text-primary);
        }
    }

    &__post-btn {
        width: 4rem;
        padding: 0.20rem 0.45rem;
        background-color: var(--color-background-tertiary);
        color: var(--color-text-secondary);
        border-radius: var(--border-radius-sm);
        font-size: var(--font-size-sm);
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover:not(:disabled) {
            color: var(--color-text-primary);
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.7;
        }
    }
}

.saving-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .saving-content {
        display: flex;
        align-items: center;
        gap: var(--spacing-1);
        border-radius: 40px;
        border: 1px solid var(--color-border);
        padding: 0 var(--spacing-4);
    }

    .loading-icon {
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}


.save-status-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .save-status-content {
        display: flex;
        align-items: center;
        gap: var(--spacing-1);
        border-radius: 40px;
        border: 1px solid var(--color-border);
        padding: 0 var(--spacing-4);
    }
}


.dropdown-menu-content {
    min-width: 150px;
    background-color: var(--color-background-primary);
    border-radius: var(--border-radius-md);
    padding: var(--spacing-1);
    box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
    border: 1px solid var(--color-border);
}

.dropdown-menu-item {
    font-size: 13px;
    line-height: 1;
    color: var(--color-text-primary);
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 0 var(--spacing-2);
    position: relative;
    user-select: none;
    outline: none;
    cursor: pointer;

    &:hover {
        background-color: var(--color-background-secondary);
    }
}

.color-option {
    display: flex;
    align-items: center;
    gap: 8px;
}

.color-circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.search-dropdown-container {
    position: relative;
    display: inline-block;

    .dropdown-content {
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: var(--spacing-1);
        background-color: var(--color-background-primary);
        border-radius: var(--border-radius-md);
        overflow: hidden;
        box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
        border: 1px solid var(--color-border);
        min-width: 100%;
        white-space: nowrap;
        padding: var(--spacing-1);

        input {
            width: 100%;
            min-width: 200px;
            padding: var(--spacing-2);
            border: 1px solid var(--color-border);
            border-radius: var(--border-radius-sm);
            background-color: var(--color-background-secondary);
            color: var(--color-text-primary);
            outline: none;

            &::placeholder {
                color: var(--color-text-secondary);
            }
        }

        .dropdown-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
            max-height: 200px;
            overflow-y: auto;

            li {
                display: flex;
                align-items: center;
                padding: var(--spacing-2);
                cursor: pointer;
                color: var(--color-text-primary);
                font-size: var(--font-size-sm);
                line-height: 1;
                margin: var(--spacing-1) 0;

                &:hover,
                &.selected {
                    background-color: var(--color-background-secondary);
                }

                .icon {
                    margin-right: var(--spacing-2);
                    flex-shrink: 0;
                }
            }

            .new-project {
                border-top: 1px solid var(--color-border);
            }
        }
    }
}

.attachments {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 12px;
    width: 100%;

    transition: background-color 0.2s;

    .attachment {
        position: relative;
        max-width: 100%;

        .code-snippet {
            background-color: var(--color-background-secondary);
            padding: 8px;
            border-radius: 4px;
            font-family: monospace;
            font-size: 14px;
            white-space: pre-wrap;
            word-break: break-all;
        }

        blockquote {
            border-left: 3px solid var(--color-text-primary);
            padding-left: 8px;
            margin: 0;
            font-style: italic;
        }

        .image-attachment {
            img {
                max-width: 100%;
                border-radius: 8px;
                display: block;
            }
            
            .delete-btn {
                position: absolute;
                top: 8px;
                right: 8px;
                height: 26px;
                width: 26px;
                background-color: var(--color-text-secondary);
                border: none;
                border-radius: 50%;
                color: var(--color-text-primary);
                padding: 4px;
                cursor: pointer;
                
    
                &:hover {
                    background-color: var(--color-accent);
                }
            }
        }

        .url-attachment {
            display: flex;
            align-items: center;
            gap: var(--spacing-2);
            width: 100%;
            border-radius: var(--border-radius-xl);
            border: 1px solid var(--color-border);
            padding: var(--spacing-1) var(--spacing-2);
            font-size: var(--font-size-sm);

            .url-content {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 100%;
            }

            &:hover {
                background-color: var(--color-background-secondary);
            }


        }

        .quote-attachment {
            display: flex;
            align-items: center;
            gap: var(--spacing-2);
            border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0;
            padding: var(--spacing-1) var(--spacing-2);
            font-size: var(--font-size-sm);

            &:hover {
                background-color: var(--color-background-secondary);
            }
        }

        .delete-btn {
            height: 23px;
            width: 23px;
            background-color: transparent;
            border: none;
            border-radius: 50%;
            color: var(--color-text-primary);
            padding: var(--spacing-1);
            cursor: pointer;
            flex-shrink: 0;

            &:hover {
                background-color: var(--color-accent);
            }

        }
    }

    
}