@import './themes.scss';

::-webkit-scrollbar {
    width: var(--spacing-4);
}

::-webkit-scrollbar-track {
    background: var(--color-background-primary);
}

::-webkit-scrollbar-thumb {
    background: var(--color-text-tertiary);
    border-radius: var(--border-radius-lg);
    border: 2px solid var(--color-background-primary);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-accent);
}
