@import './themes.scss';

::-webkit-scrollbar {
    width: var(--spacing-2);
}

::-webkit-scrollbar-track {
    background: var(--color-background-primary);
}

::-webkit-scrollbar-thumb {
    background: var(--color-text-tertiary);
    border-radius: var(--border-radius-lg);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-accent);
}
