@import '../../styles/themes.scss';

body {
    background-color: None;
}

.notes-feed {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);
}

.note-card {
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-md);
    padding: var(--spacing-4);
    background-color: var(--color-background-secondary);

    h3 {
        margin-top: 0;
        font-size: var(--font-size-lg);
        color: var(--color-text-primary);
    }
}


.notes-container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;

    $circle-width: 20px;
    $line-width: 2px;
    $spacing: 10px;
    $line-height: calc(100% + 21px);
    background-color: var(--color-background-primary);

    .notes-container {
        display: flex;
        font-size: 17px;
        margin: 25px 0;
        margin-bottom: 30px;
        margin: var(--spacing-4) var(--spacing-4) var(--spacing-2);

        .note-legend {
            margin-top: 27px;
            margin-left: 5px;
            margin-right: 5px;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            &-dot {
                width: $circle-width;
                height: $circle-width;
                border-radius: 50%;
                background-color: var(--color-text-tertiary);
                z-index: 1;
            }

            &-line {
                width: $line-width;
                position: absolute;
                top: calc(#{$circle-width} + 5px);
                height: $line-height;
                background-color: var(--color-text-tertiary);
                border-radius: 10px;
            }
        }

        .note-content {
            display: flex;
            flex-direction: column;
            font-size: 21px;
            flex-grow: 1;
            width: 100%;
            padding: 0 $spacing 0 $spacing;
            gap: $spacing;


            .note-content-text {
                p {
                    margin: 0;
                }
            }

            .note-date {
                color: var(--color-text-tertiary);
                font-size: var(--font-size-sm);
                flex-shrink: 0;
                font-weight: var(--font-weight-medium);
                opacity: 0.8;
                // margin-top: 0.15rem; // minor adjustment to align with content
            }

            .note-tags-container {
                display: flex;
                align-items: center;
                // justify-content: space-between;
                font-size: var(--font-size-sm);
                color: var(--color-text-tertiary);
                font-weight: var(--font-weight-medium);

                .note-tags {
                    display: flex;
                    flex-wrap: wrap;

                    span {
                        margin-right: $spacing;
                        cursor: pointer;

                        &:hover {
                            color: var(--color-accent);
                        }

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }


            }

            .note-actions {
                opacity: 0;
                transition: opacity 0.3s ease;
                width: 100%;
                display: flex;
                justify-content: flex-start;

                button {
                    display: flex;
                    align-items: center;
                    margin-right: var(--spacing-2);
                    padding: var(--spacing-1) var(--spacing-2);
                    border-radius: var(--border-radius-lg);
                    background-color: var(--color-background-secondary);
                    color: var(--color-text-secondary);
                    border: none;
                    cursor: pointer;

                    svg {
                        margin-right: var(--spacing-1);
                    }

                    &:hover {
                        color: var(--color-text-primary);
                        background-color: var(--color-accent);
                    }
                }

            }

            &:hover .note-actions,
            .note-actions.editing {
                opacity: 1;
            }
        }
    }
}

.note-divider {
    border-bottom: 1px solid var(--color-border);
}

.search-bar {
    .tag-search-container {
        margin-left: var(--spacing-2);
    }

    .search-input-container {
        margin: var(--spacing-2);

        display: flex;
        flex-direction: row;
        gap: var(--spacing-2);

        .search-icon {
            background-color: var(--color-background-secondary);
            padding: var(--spacing-1) var(--spacing-2);
            border-radius: var(--border-radius-lg);
            width: 50px;
            height: 40px;
            cursor: pointer;
            color: var(--color-text-secondary);

            &:hover {
                color: var(--color-text-primary);
            }
        }

        .semantic-search-icon {
            cursor: pointer;
            background-color: var(--color-background-secondary);
            padding: var(--spacing-1) var(--spacing-2);
            border-radius: var(--border-radius-lg);
            width: 50px;
            height: 40px;
            cursor: pointer;
            color: var(--color-text-secondary);

            &.selected {
                color: var(--color-text-primary);
                background-color: var(--color-accent);
            }
        }

        input {
            width: 100%;
            background-color: var(--color-background-secondary);
            color: var(--color-text-primary);
            border: none;
            border-radius: var(--border-radius-lg);
            padding: var(--spacing-2) var(--spacing-4);
            font-size: var(--font-size-base);

            &::placeholder {
                color: var(--color-text-secondary);
            }

            &:focus {
                outline: none;
            }

        }

    }
}

.tag-search {
    width: 100%;
    max-width: 32rem;

    .tag-search-container {
        border: none;
        border-radius: var(--border-radius-lg);
        padding: var(--spacing-2);
        background-color: var(--color-background-primary);

        .selected-tags {
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-2);

            .tag {
                display: flex;
                align-items: center;
                gap: var(--spacing-1);
                background-color: var(--color-background-secondary);
                color: var(--color-accent-dark);
                padding: var(--spacing-1) var(--spacing-2);
                border-radius: 9999px;
                font-size: var(--font-size-sm);

                .remove-tag {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: none;
                    border: none;
                    cursor: pointer;
                    padding: 2px;
                    border-radius: 50%;
                    transition: background-color 0.2s ease;
                    color: var(--color-text-secondary);

                    &:hover {
                        color: var(--color-text-primary);
                        background-color: var(--color-accent);
                    }

                    .remove-icon {
                        width: 12px;
                        height: 12px;
                    }
                }
            }

            .input-container {
                position: relative;
                flex: 1;
                min-width: 200px;

                .tag-input {
                    width: 100%;
                    outline: none;
                    border: none;
                    background: none;
                    font-size: var(--font-size-base);
                    color: var(--color-text-primary);

                    &::placeholder {
                        color: var(--color-text-secondary);
                    }
                }

                .suggestions {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    margin-top: var(--spacing-1);
                    background-color: var(--color-background-primary);
                    border: 1px solid var(--color-border);
                    border-radius: var(--border-radius-md);
                    z-index: 10;
                    max-height: 15rem;
                    overflow-y: auto;
                    
                    .suggestion {
                        width: 100%;
                        text-align: left;
                        padding: var(--spacing-2) var(--spacing-4);
                        background: none;
                        border: none;
                        cursor: pointer;
                        transition: background-color 0.2s ease;
                        color: var(--color-text-primary);

                        &:hover,
                        &.active {
                            background-color: var(--color-background-secondary);
                        }
                    }
                }
            }
        }
    }
}