@import '../../styles/themes.scss';

body {
    background-color: None;
}

.notesList {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-primary);
    padding: var(--spacing-4) var(--spacing-3) 0;
    height: 100%;
    overflow-y: auto;
}

.note-divider {
    border-bottom: 1px solid var(--color-border);
}

.search-bar {
    .tag-search-container {
        margin-left: var(--spacing-2);
    }

    .search-input-container {
        margin: var(--spacing-2);

        display: flex;
        flex-direction: row;
        gap: var(--spacing-2);

        .search-icon {
            background-color: var(--color-background-secondary);
            padding: var(--spacing-1) var(--spacing-2);
            border-radius: var(--border-radius-lg);
            width: 50px;
            height: 40px;
            cursor: pointer;
            color: var(--color-text-secondary);

            &:hover {
                color: var(--color-text-primary);
            }
        }

        .semantic-search-icon {
            cursor: pointer;
            background-color: var(--color-background-secondary);
            padding: var(--spacing-1) var(--spacing-2);
            border-radius: var(--border-radius-lg);
            width: 50px;
            height: 40px;
            cursor: pointer;
            color: var(--color-text-secondary);

            &.selected {
                color: var(--color-text-primary);
                background-color: var(--color-accent);
            }
        }

        input {
            width: 100%;
            background-color: var(--color-background-secondary);
            color: var(--color-text-primary);
            border: none;
            border-radius: var(--border-radius-lg);
            padding: var(--spacing-2) var(--spacing-4);
            font-size: var(--font-size-base);

            &::placeholder {
                color: var(--color-text-secondary);
            }

            &:focus {
                outline: none;
            }

        }

    }
}

.tag-search {
    width: 100%;
    max-width: 32rem;

    .tag-search-container {
        border: none;
        border-radius: var(--border-radius-lg);
        padding: var(--spacing-2);
        background-color: var(--color-background-primary);

        .selected-tags {
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-2);

            .tag {
                display: flex;
                align-items: center;
                gap: var(--spacing-1);
                background-color: var(--color-background-secondary);
                color: var(--color-accent-dark);
                padding: var(--spacing-1) var(--spacing-2);
                border-radius: 9999px;
                font-size: var(--font-size-sm);

                .remove-tag {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: none;
                    border: none;
                    cursor: pointer;
                    padding: 2px;
                    border-radius: 50%;
                    transition: background-color 0.2s ease;
                    color: var(--color-text-secondary);

                    &:hover {
                        color: var(--color-text-primary);
                        background-color: var(--color-accent);
                    }

                    .remove-icon {
                        width: 12px;
                        height: 12px;
                    }
                }
            }

            .input-container {
                position: relative;
                flex: 1;
                min-width: 200px;

                .tag-input {
                    width: 100%;
                    outline: none;
                    border: none;
                    background: none;
                    font-size: var(--font-size-base);
                    color: var(--color-text-primary);

                    &::placeholder {
                        color: var(--color-text-secondary);
                    }
                }

                .suggestions {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    margin-top: var(--spacing-1);
                    background-color: var(--color-background-primary);
                    border: 1px solid var(--color-border);
                    border-radius: var(--border-radius-md);
                    z-index: 10;
                    max-height: 15rem;
                    overflow-y: auto;
                    
                    .suggestion {
                        width: 100%;
                        text-align: left;
                        padding: var(--spacing-2) var(--spacing-4);
                        background: none;
                        border: none;
                        cursor: pointer;
                        transition: background-color 0.2s ease;
                        color: var(--color-text-primary);

                        &:hover,
                        &.active {
                            background-color: var(--color-background-secondary);
                        }
                    }
                }
            }
        }
    }
}