@import '../../styles/themes.scss';

.container {
    display: flex;
    
    --circle-size: 20px;
    --line-width: 2px;
    --spacing: 10px;
    --line-height: calc(100% - 26px);

    font-size: 19px;
}

.legend {
    margin-top: 4px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &Dot {
        width: var(--circle-size);
        height: var(--circle-size);
        border-radius: 50%;
        background-color: var(--color-text-tertiary);
        z-index: 1;
    }

    &Line {
        width: var(--line-width);
        position: absolute;
        top: calc(var(--circle-size) + 7px);
        height: var(--line-height);
        background-color: var(--color-text-tertiary);
        border-radius: 10px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    padding: 0 var(--spacing);

    &Text {
        p {
            margin: 0;
        }
    }
}

.metadata {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: var(--font-size-sm);
    color: var(--color-text-tertiary);
    font-weight: var(--font-weight-medium);

    &Dot {
        margin: 0 var(--spacing-1);
        margin-top: 3px; // weirdly, the dot is not centered vertically without this
    }

    &Date {
        opacity: 0.8;
        flex-shrink: 0;
    }

    &Tags {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        span {
            // margin-right: var(--spacing);
            cursor: pointer;

            &:hover {
                color: var(--color-accent);
            }

            // &:last-child {
            //     margin-right: 0;
            // }
        }
    }
}

.actions {
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    border-top: 1px solid var(--color-border);
    margin-top: var(--spacing-2);

    &.editing {
        opacity: 1;
    }

    button {
        display: flex;
        align-items: center;
        margin-right: var(--spacing-2);
        padding: var(--spacing-1) var(--spacing-2);
        // border-radius: var(--border-radius-lg);
        background-color: transparent;
        color: var(--color-text-tertiary);
        border: none;
        cursor: pointer;

        svg {
            margin-right: var(--spacing-1);
        }

        &:hover {
            color: var(--color-text-primary);
            // background-color: var(--color-accent);
        }
    }
}

// Show actions on content hover
.content:hover .actions {
    opacity: 1;
}
