.bottomBar {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 20px;
    background-color: var(--color-background-secondary);
    color: var(--color-text-primary);
    padding: var(--spacing-3);
    z-index: 1000;
    border-radius: 999px;
    opacity: 0.2;
    width: 100px;
    margin-left: auto;

    &:hover {
        opacity: 1;
    }
}

.titleBarIcons {
    display: flex;
    gap: 10px;

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: var(--color-text-primary);

        &:hover {
            color: var(--color-text-secondary);
        }
    }
}