@import '../../styles/themes.scss';

.prose {
  outline: none;
  width: 100%;
  color: var(--color-text-primary);
  font-size: var(--font-size-lg);
  line-height: var(--line-height-normal);

  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap; 

  h1, h2, h3, h4, h5, h6 {
    color: var(--color-text-primary);
    
    // first line has no top margin
    &:first-child {margin-top: 0}
  }

  p {
    margin-bottom: var(--spacing-2);

    &:first-child {margin-top: 0}
  }

  a {
    color: var(--color-accent);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:first-child {margin-top: 0}
  }

  pre {
    background-color: var(--color-background-tertiary);
    padding: var(--spacing-2);
    border-radius: var(--border-radius-md);
    overflow-x: auto;

    &:first-child {margin-top: 0}
  }

  code {
    background-color: var(--color-background-tertiary);
    padding: 2px 4px;
    border-radius: var(--border-radius-sm);
    font-family: monospace;
  
    &:first-child {margin-top: 0}
  }

  blockquote {
    border-left: 4px solid var(--color-accent);
    padding-left: var(--spacing-2);
    color: var(--color-text-secondary);

    &:first-child {margin-top: 0}
  }

  ul, ol {
    padding-left: var(--spacing-4);
    margin-bottom: var(--spacing-2);

    &:first-child {margin-top: 0}
  }

  li {
    margin-bottom: var(--spacing-1);

    &:first-child {margin-top: 0} 
  }

  .tag-highlight {
    background-color: rgba(59, 130, 246, 0.1);
    border-radius: 4px;
    padding: 2px 4px;
    color: #3b82f6;
    font-weight: 500;

    &:first-child {margin-top: 0}
  }
}